# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# IDE
.vscode/
.idea/

# Hugging Face
.cache/

# Trained models
models/
adapters/

# Zipped artifacts
*.zip

# Checkpoints
checkpoints/

tree.txt
test.py

# macOS
.DS_Store
