accelerate==1.9.0
datasets==4.0.0
evaluate==0.4.5
hf-xet==1.1.5
huggingface_hub==0.36.2
matplotlib==3.10.0
numpy==2.0.2
pandas==2.2.2
peft==0.17.0
pot==0.9.7.post1
pyarrow==18.1.0
regex==2024.11.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.16.3
sentencepiece==0.2.1
tokenizers==0.21.4
torch==2.11.0
tqdm==4.67.1
transformers==4.55.0